/* nav.module.css */
.navTop {
    background-color: #22222e;
  }
  
  .navText {
    color: white;
    margin-right: 1em;
  }
  
  .navTopContactText {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  
  .navMiddle {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
  }
  
  .navLogoText {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.5em;
    text-shadow: 2px 2px 2px aqua;
  }
  
  .navBottom {
    color: white;
    text-align: left;
    background-color: #22222e;
    padding-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
  }
  
  .navBottomList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .navContact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  
  .navButtons {
    display: flex;
    gap: 10px;
  }
  
  .navContact h4 {
    margin-bottom: 0.5rem;
  }
  