.contactContainer {
  background-color: #22221a;
  color: #F6F4E6;
  padding: 1rem 0;
}

.contactItem {
  text-align: center;
  margin-bottom: 1rem;
}

.contactItem div {
  color: #F6F4E6;
  margin-top: 8px;
}

.contactItem strong {
  display: block;
}

.contactIcon {
  color: aqua;
  margin-bottom: 0.5rem;
}
