.contact-item div {
    color: #F6F4E6; /* Light color for text */
    margin-top: 8px;
  }
  
  .contact-item strong {
    display: block; /* Ensure the title is on a new line */
  }
  
  .container, .row, .col {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margins */
  }
  