.tabsContainer {
    width: 80%;
    margin: auto;
    margin-top: 20px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  
  .contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .description {
    width: 40%;
    padding-right: 20px;
  }
  
  .imageContainer {
    width: 60%;
  }
  
  .image {
    max-height: 100%;
    object-fit: contain;
    width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .description {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .imageContainer {
      width: 100%;
    }
  
    .image {
      width: 100%;
    }
  }
  